footer{
    grid-area: footer;
    background-color: $color-madre;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    position: relative;
    padding-top: 15px;
    color: white;

}
.empresa-footer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}
.contactanos-footer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ayuda-footer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
