*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

h1{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font: bolder;
}

.subtitulos-categoria{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-left: 35px;
    font: bolder;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}  

.parrafo-titulo{
    padding-right: 60px;
}
