*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

h1{
    color: $color-madre;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}  

main{
    grid-area: main;
}
.color-titulo{
    color: $color-madre;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}